@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.Weather {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to bottom, #9ddbf0 0%, #ff99cc 100%);
  color: rgb(135, 135, 135);
  margin: 78px auto;
  padding: 20px;
  padding-left: 50px;
  border: 2px solid #c77db1;
  border-radius: 40px;
  box-shadow: 8px 5px 5px #462b3e;
  max-width: 720px;
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #e74279;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  cursor: pointer;
  background: linear-gradient(322.24deg, #db94c3 -4.38%, #e74279 48.84%);
  text-align: center;
  border: none;
  box-shadow: 0px 5px 5px -1px #d423ae3f;
  box-shadow: 0px 0px 20px 0px #f947ff80;
  box-shadow: -4px -4px 8px 0px #c20da45b inset;
  box-shadow: 4px 4px 8px 0px #b976ab85 inset;
  box-shadow: 1px 10px 10px 1px rgb(0 0 0 / 50%);
  
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.Weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  text-shadow: 2px 2px #9c6e8d;
  color: #272142;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather li strong {
  color: #f65282;
  font-weight: normal;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
  text-shadow: 2px 2px #9c6e8d;
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
   text-shadow: 2px 2px #b98bab;
}

.Weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer a {
  color: #885df1;
}

